*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

h1{
    text-align: center;
}

.container{
    margin: 10px;
    border: 1px solid #9758A6;
    display: flex;
    flex-direction: row; /*Define qual será o eixo primeiro e o secundário. Ex.Nesse caso a linha vertical é o eixo primeiro e a horizontal é o eixo secundário*/
    justify-content: space-between; /*Alinha o conteudo em relação ao eixo primário do container*/
    height: 800px;
    width: 800px;
}

.block{
    width: 100px;
    height: 100px;
    background-color: #CDD728;
    border: 5px solid #9758A6;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}